Pandas functions and maps cheat sheet

In [8]:
import pandas as pd
reviews = pd.read_csv("data/iris.csv", index_col=0)
reviews.head()

              sepal_width  petal_length  petal_width species
sepal_length
5.1                   3.5           1.4          0.2      se
4.9                   3.0           1.4          0.2  setosa
4.7                   3.2           1.3          0.2  setosa
4.6                   3.1           1.5          0.2  setosa
5.0                   3.6           1.4          0.2  setosa

In [14]:
reviews.describe()

       sepal_width  petal_length  petal_width
count   150.000000    150.000000   150.000000
mean      3.054000      3.758667     1.198667
std       0.433594      1.764420     0.763161
min       2.000000      1.000000     0.100000
25%       2.800000      1.600000     0.300000
50%       3.000000      4.350000     1.300000
75%       3.300000      5.100000     1.800000
max       4.400000      6.900000     2.500000

In [16]:
reviews.species.describe()

count            150
unique             4
top       versicolor
freq              50
Name: species, dtype: object

In [17]:
reviews.species.unique()

array(['se', 'setosa', 'versicolor', 'virginica'], dtype=object)